<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite List</title>
</head>
<body>
    <main>
        <%result.forEach(value=>{%>
            <div>
                <p>Name: <%=value.name%></p>
                <img src="<%=value.img%>" >
                <p>Level: <%=value.level%></p>
                <a href="/details/<%=value.id%>">Details</a>
            </div>
            <%})%>
    </main>
</body>
</html>